@import url(./normalize.css);
@import url(./reset.css);

@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans");
  src: url(../fonts/NunitoSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans");
  src: url(../fonts/NunitoSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans");
  src: url(../fonts/NunitoSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans");
  src: url(../fonts/NunitoSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-family: "NunitoSans";
}

body {
  background-color: #ffe6c9;
}

/* Support Classes */
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.flex-cen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.flex-cen-sp-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col-ai-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-col-ai-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
/* End Support Classes */

main {
  width: 100%;
  height: 100vh;
}

section {
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
section > img {
  float: left;
  width: 500px;
  border-radius: 20px 0px 0px 20px;
}
.login {
  width: 360px;
  padding: 20px 40px 0px 20px;
}
/* Login-Header */
.login-header {
  margin-bottom: 10px;
}
.login-header img {
  margin-bottom: 20px;
}
h1 {
  font-size: 16px;
  font-weight: 700;
  color: rgba(82, 82, 82, 1);
  margin-bottom: 5px;
}
.login-header p {
  font-size: 8px;
  font-weight: 400;
  color: rgba(82, 82, 82, 1);
  margin-bottom: 10px;
}
/* Navigation-Form */
.navigation-form {
  width: 290px;
}
button {
  width: 290px;
  height: 30px;
  background: none;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 5px;
  font-size: 10px;
  font-weight: 700;
  color: rgba(130, 130, 130, 1);
  gap: 10px;
  cursor: pointer;
}
button > img {
  width: 8%;
}
.navigation-form form {
  margin-bottom: 12px;
}
.navigation-form a {
  font-size: 8px;
  font-weight: 600;
  color: #a1a1a1;
  margin-bottom: 12px;
  text-decoration: none;
}

/* Login-Form */
.login-form {
  margin-bottom: 40px;
}
.form-line {
  width: 290px;
  margin-bottom: 10px;
}
label {
  font-size: 10px;
  font-weight: 600;
  color: rgba(130, 130, 130, 1);
}
input[placeholder] {
  width: 100%;
  height: 30px;
  background: none;
  border-radius: 5px;
  border: 1px solid #ded2d9;
  outline: none;
  padding: 2px 0px 2px 10px;
  font-size: 12px;
}
input::placeholder {
  font-size: 10px;
  font-weight: 400;
  color: rgba(224, 224, 224, 1);
}
input:focus {
  color: #2148c0;
  caret-color: goldenrod;
}
.svg-envelope {
  width: 36%;
  top: -60%;
  right: -12%;
}
.svg-key {
  width: 36%;
  top: -64%;
  right: -12%;
}
input:checked {
  width: 10px;
  accent-color: rgba(127, 38, 91, 1);
}
#remember {
  width: 10px;
}
#for-remember {
  font-size: 8px;
  font-weight: 400;
  color: rgba(161, 161, 161, 1);
}
.login-form,
.login-footer,
a {
  color: rgba(127, 38, 91, 1);
  font-size: 8px;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: grey;
  text-decoration: underline;
}
.checkbox {
  margin-top: -5px;
}
input[value] {
  width: 100%;
  height: 30px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 4px;
  background: rgba(127, 38, 91, 1);
}
input[value]:hover {
  font-size: 12px;
}
.login-footer span {
  font-size: 10px;
  font-weight: 400;
  color: rgba(130, 130, 130, 1);
}
.login-footer a {
  font-size: 10px;
}

/* @media screen  */
@media screen and (max-width: 768px) {
  section > img {
    display: none;
  }
  .login {
    padding: 20px 35px 0px 35px;
  }
  .login-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-footer {
    margin-bottom: 10px;
  }
}
